* {
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: rgb(41, 36, 36);
}

.intro {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 10px 20px;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.intro h1 {
  color: rgb(224, 63, 63);
}

.side-view {
width: 300px;
display: inline-block;
margin-left: auto;
margin-right: auto;
border-radius: 10px;
border-color: rgb(185 185 185);  
box-shadow: rgb(185 185 185); 
}

h2 {
  color:rgb(224, 63, 63);
}
