* {
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: rgb(41, 36, 36);
}

.intro {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 10px 20px;
  width: 800px;
}

.intro h1 {
  color: rgb(224, 63, 63);
  text-align: center;
}

.intro p {
  color: rgb(41, 36, 36);
}

.image-text {
width: 400px;
text-align: left;
}

.side-view {
width: 300px;
max-width: 300px;
display: inline-block;
}

h2 {
  color:rgb(224, 63, 63);
  text-align: center;
}