* {
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: rgb(41, 36, 36);
}

.intro {
  background-color: rgb(235, 235, 235);
  border-radius: 10px;
  padding: 10px 20px;
  width: 800px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.intro h1 {
  color: rgb(224, 63, 63);
}

.side-view {
width: 100%;
max-width: 100%;
height: auto;
padding: 10px;
margin: 5px;
border-radius: 10px;
border-color: rgb(219, 219, 52);  
box-shadow: 2px 2px 2px #d1d1d1; 
}

h2 {
  color:rgb(224, 63, 63);
}

.images-container {
  height: 50vh;
  width: 70vw;
  margin: 10px auto;
  padding: 10px;
  background-color: #143cbe;
  border: 2px solid red;
}

.side-by-side {
  background-color: #f2f2f2;
  width: 60vw;
  height: 40vh;
  margin: 10px auto;
  padding: 5px;
  display: flex;
  flex-wrap:wrap;
  border: 2px dashed green;
  overflow: auto;
}
